<!DOCTYPE html>
<html>
  <head>
    <title>TheaterManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style type="text/css" media="screen">

    </style>
  </head>

  <body style="background-color:lightcyan">
    <nav class="navbar">
      <ul>
        <a href="/theaters">Theaters</a>
        <a href="/employees">Employees</a>
        <a href="/auditoriums">Auditoriums</a>
        <a href="/movies">Movies</a>
      </ul>
    </nav>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
