<form action="/theaters/<%= @theater.id%>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type="hidden" name="_method" value="PATCH"/>
	<p>Edit</p>
	<input type='text' name='theater[name]' value="<%= @theater.name%>"/><br/>
  <input type='text' name='theater[location]' value="<%= @theater.location%>"/><br/>
  <input type='checkbox' name='theater[is_open]' value="<%= @theater.is_open%>"/><br/>
  <input type='number' name='theater[capacity]' value="<%= @theater.capacity%>"/><br/>
  <input type="submit" value="Update Theater"/>
</form>