<a href="/theaters/<%= @theater.id%>/employees">Theater Employee Index</a>
<p>Name: <%= @theater.name %></p>
<p>Location: <%= @theater.location %></p>
<p>Open: <%= @theater.is_open %></p>
<p>Maximum Capacity: <%= @theater.capacity %></p>
<p>Employee Total: <%= @theater.employee_count %></p>
<a href="/theaters/<%= @theater.id%>/edit">Edit</a>
<%= link_to 'delete', "/theaters/#{@theater.id}", method: :delete %>
<a href="/theaters/<%= @theater.id%>/employees">Employees</a>