<a href="/theaters">Back to index</a>
<p><%= @theater.name %></p>
<p><%= @theater.location %></p>
<p><%= @theater.is_open %></p>
<p><%= @theater.capacity %></p>
<a href="/theaters/<%= @theater.id%>/edit">Edit</a>
<%= link_to 'delete', "/theaters/#{@theater.id}", method: :delete %>