<a href="/auditoriums/<%= @auditorium.id %>/movies/new">New Movie</a>

<h1>All Movies in Auditorium: <%= @auditorium.name %></h1>

<% @movies.each do |movie| %>
  <h3><a href="/movies/<%= movie.id %>"><%= movie.name %></a></h3>
  <p>Movie Starts: <%= movie.showtime_date.strftime("%a %b %d %Y") %> <%= movie.showtime_start.strftime("%I:%M %p") %></p>
  <p>Duration: <%= movie.duration %></p>
  <p>Ticket Cost: $<%= movie.ticket_cost.to_s.length == 4 ? "#{movie.ticket_cost}0" : movie.ticket_cost %></p>
  <p>Rated R: <%= movie.is_rated_r ? "Yes" : "No" %></p>
  <p>Auditorium: <%= @auditorium.name %></p>
<% end %>
